# Data Collections 2 (Dictionaries, Sets) and Importing Modules

## Tasks Today:

1) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Print the eye color of each person in a double nested dict <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format()  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Dictionaries with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...  <br>
2) Dictionaries vs. Lists (over time)<br>
3) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Frozen Set <br>

5) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Address Book Program <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Best Times to Meet <br>

#### Warm Up

Given the list `address_book`, create a function that accepts a name (first or last or both) and returns the phone number of that name in the `address_book`. If the name is not in `address_book`, return -1.<br>

Ex. 1<br>
name = 'Hank'<br>
Expected Output: '(555) 555-1234'<br>

Ex. 2<br>
name = 'Tevin'<br>
Expected Output: '(333) 333-3245'<br>

Ex. 3<br>
name = 'Brian'<br>
Expected Output: -1<br>

In [78]:
address_book = [
    ('Hank', 'Mardukas', '123 Real Street', '(555) 555-1234'),
    ('Peter', 'Klaven', '321 Fake Street', '(555) 555-4321'),
    ('Sydney', 'Fife', '555 Santa Monica Drive', '(222) 222-6789'),
    ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245')
]

def find_number(name='', last_name=''):
    if name!="" and last_name!="":
        for f_name, l_name, address, number in address_book:
            if name == f_name and last_name == l_name:
                return number
        return -1
    elif name!="":
        for f_name, l_name, address, number in address_book:
            if name == f_name:
                return number
        return -1
    elif last_name!="":
        for f_name, l_name, address, number in address_book:
            if last_name == l_name:
                return number
        return -1
    else:
        return -1
    
    
#Timur's solution

# def phone_numbers(name="", last_name=""):
#     return [i[3] for i in address_book if (name==i[0] and last_name==i[1]) or (name==i[0] and last_name=="") or (name=="" and last_name==i[1])]



find_number(last_name='Klaven')

'(555) 555-4321'

## Dictionary <br>
<p>A collection of data with 'key:value' pairs. Dictionaries are ordered as of Python 3.6</p>

##### Declaring (key, value)

In [59]:
# Syntax: a_dict = {} or a_dict = dict() or a_dict = {'key': value, ...}
# keys need to be unique
# hashable objects have a hash value that never changes during its lifetime
# usually keys are immutable objects
# dictionary is not ordered, lists are; if you reference something in a list, the computer starts at index 0 and goes through list that way
# DON'T FORGET COMMAS

d1 = {}
print(d1)
print(type(d1))

d2 = dict()
print(d2)
print(type(d2))

d3 = {
    'hank': '123 Real Street',
    'Peter': '321 Fake Street',
    'Sydney': '555 Santa Monica Blvd.',
    'Tevin': '100 Rodeo Blvd.',
}

print(d3, type(d3))

{}
<class 'dict'>
{}
<class 'dict'>
{'hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd.', 'Tevin': '100 Rodeo Blvd.'} <class 'dict'>

##### Accessing Values

In [38]:
# dict[key]
# using .get() is safer than using brackets

print(d3['Hank'.lower()])
print(d3['Peter'])

123 Real Street
321 Fake Street

##### .get()

In [35]:
# dict.get('key') or dict.get('key', value_if_no_key)
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [40]:
print(d3.get('Peter'))
print(d3.get('Brian'))
print(d3.get('Brian', 'No Address Available'))

321 Fake Street
None
No Address Available

In [42]:
d4 = {
    'abc': [1, 2, 3, 4]
}

print(d4.get('abc'))
print(d4.get('abc')[0])

[1, 2, 3, 4]
1

## In-Class Exercise #1 - Print a formatted statement from the dictionary below <br>
<p>The output should be 'My favorite car is a 2018 Chevrolet Silverado'</p>

In [43]:
# use the dict below
truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}


print(f"My favorite car is a {truck['year']} {truck['make']} {truck['model']}.")

My favorite car is a 2018 Chevrolet Silverado.

##### Adding New Pairs

In [44]:
# dict[key] = value

d3['Zooey'] = '151 Main Street'
d3

{'hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd.',
 'Tevin': '100 Rodeo Blvd.',
 'Zooey': '151 Main Street'}

##### Modifying Values

In [60]:
# dict[key] = value

d3['Zooey'] = '321 Fake Street'
d3

# modifying keys

d3['Hank'] = d3.pop('hank')
d3

{'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd.',
 'Tevin': '100 Rodeo Blvd.',
 'Zooey': '321 Fake Street',
 'Hank': '123 Real Street'}

##### Removing Key, Value Pairs

In [46]:
# del dict[key]

del d3['Tevin']
d3

{'hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd.',
 'Zooey': '321 Fake Street'}

##### Looping a Dictionary

In [49]:
# .items()
# a, b, c = 1, 2, 3
# print(a)
# print(b)
# print(c)

for item in d3.items():
    print(item, type(item))

('Peter', '321 Fake Street') <class 'tuple'>
('Sydney', '555 Santa Monica Blvd.') <class 'tuple'>
('Zooey', '321 Fake Street') <class 'tuple'>
('Hank', '123 Real Street') <class 'tuple'>

In [52]:
for key, value in d3.items():
    print(f"Key: {key} Value: {value}")

Key: Peter Value: 321 Fake Street
Key: Sydney Value: 555 Santa Monica Blvd.
Key: Zooey Value: 321 Fake Street
Key: Hank Value: 123 Real Street

##### Looping Only Keys

In [62]:
# .keys()
for i in d3:
    print(i)

print('='*20)

for key in d3.keys():
    print(key)

print('='*20)
    
for key in d3.keys():
    print(key, d3[key])

Peter
Sydney
Tevin
Zooey
Hank
====================
Peter
Sydney
Tevin
Zooey
Hank
====================
Peter 321 Fake Street
Sydney 555 Santa Monica Blvd.
Tevin 100 Rodeo Blvd.
Zooey 321 Fake Street
Hank 123 Real Street

##### Looping Only Values

In [58]:
# .values()
for val in d3.values():
    print(val)

321 Fake Street
555 Santa Monica Blvd.
321 Fake Street
123 Real Street

## In-Class Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format() <br>
<p><b>Output should be:</b><br>
Max has blue eyes<br>
Lilly has brown eyes<br>
Barney has blue eyes<br>
etc.
</p>

In [82]:
# use the dict below

people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Larney': 'brown',
    'Ted': 'purple'
}

def eye_color(people_dict):
    for key, value in people.items():
        print("{} has {} eyes".format(key, value))
        
def eye_color():
    for key, value in people.items():
        print(f"{key} has {value} eyes")


#another solution
def eye_color():
    for name in people.keys():
        print(f"{name} has {people[name]} eyes"
             )
eye_color()

Max has blue eyes
Lilly has brown eyes
Barney has blue eyes
Larney has brown eyes
Ted has purple eyes

##### sorted()

In [86]:
# sorts variables in order
# sorted(dict.values()) or dict.keys() or dict.items()

print(sorted(people))
print(sorted(people.values()))
print(sorted(people.items()))

['Barney', 'Larney', 'Lilly', 'Max', 'Ted']
['blue', 'blue', 'brown', 'brown', 'purple']
[('Barney', 'blue'), ('Larney', 'brown'), ('Lilly', 'brown'), ('Max', 'blue'), ('Ted', 'purple')]

##### List with Dictionaries

In [94]:
names = ['Dave', 'Randy', 'Greg', {'person1': 'Bob', 'person2': 'Cindy'}]
print(names)

print(names[0])
print(names[3])
print(names[3]['person1'])
print(names[3]['person2'])

['Dave', 'Randy', 'Greg', {'person1': 'Bob', 'person2': 'Cindy'}]
Dave
{'person1': 'Bob', 'person2': 'Cindy'}
Bob
Cindy

##### List of Dictionaries

In [100]:
# does not matter which pair goes first, as long as the key names are the same for each dictionary

movies = [
    {'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010},
    {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010},
    {'title': 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006},
    {'title': 'Star Wars', 'director': 'George Lucas', 'release_year': 1977},
    {'release_year': 2019, 'title': 'Parasite', 'director': 'Bong Joon Ho'}
]

print(movies)

[{'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010}, {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010}, {'title': 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006}, {'title': 'Star Wars', 'director': 'George Lucas', 'release_year': 1977}, {'release_year': 2019, 'title': 'Parasite', 'director': 'Bong Joon Ho'}]

In [99]:
for m in movies:
    print(f"Title: {m['title']} -- Directed by {m['director']} -- {m['release_year']}")

Title: Inception -- Directed by Christopher Nolan -- 2010
Title: The Social Network -- Directed by David Fincher -- 2010
Title: The Departed -- Directed by Martin Scorsese -- 2006
Title: Star Wars -- Directed by George Lucas -- 1977
Title: Parasite -- Directed by Bong Joon Ho -- 2019

##### Dictionaries with Lists

In [102]:
# be careful when using numbers as keys in dictionaries, don't confuse them with indexes

# random_data = {
#     'list1': [23, 43, 53, 398],
#     0: ['a', 'b', 'c'],
# }

random_data = {
    'list1': [23, 43, 53, 398],
    'list2': ['a', 'b', 'c'],
}

print(random_data)
print(random_data['list1'][2])

{'list1': [23, 43, 53, 398], 'list2': ['a', 'b', 'c']}
53

##### Dictionaries with Dictionaries

In [105]:
# to get values, must traverse through keys

my_shop = {
    'ice_cream': {
        'vanilla': 2.99,
        'chocolate': 2.99,
        'strawberry': 3.50,
    },
    'milkshake': {
        'vanilla': 4.50,
        'chocolate': 4.50,
        'oreo': 5.99,
    }
}

print(my_shop['ice_cream'], type(my_shop['ice_cream']))
print(my_shop['ice_cream']['chocolate'])
print(my_shop['milkshake']['oreo'])

{'vanilla': 2.99, 'chocolate': 2.99, 'strawberry': 3.5} <class 'dict'>
2.99
5.99

In [106]:
my_shop['milkshake']['oreo'] + 100

105.99

In [107]:
x = my_shop['milkshake']['oreo']
x + 200

205.99

In [115]:
# list out the items at the shop that are less than $4.00

for dessert_type in my_shop.keys():
    print('***************')
#     print(dessert_type)
#     print(my_shop[dessert_type])
    for flavor, price in my_shop[dessert_type].items():
        print(flavor, price)

***************
vanilla 2.99
chocolate 2.99
strawberry 3.5
***************
vanilla 4.5
chocolate 4.5
oreo 5.99

In [120]:
# How many years did Jimmy Smith work at AlphaInc?

job_app = {
    'full_name': 'Jimmy Smith',
    'email': 'jsmith@email.com',
    'prog_languages': [
        {
            'name': 'Python',
            'proficiency': 8
        },
        {
            'name': 'JavaScript',
            'proficiency': 5
        }
    ],
    'experience': [
        {
            'company': 'Omnicorp',
            'position': 'Bossman',
            'years_at_company': [2010, 2011, 2012, 2013]
        },
        {
            'company': 'AlphaInc',
            'position': 'Quality Assurance',
            'years_at_company': [2014, 2015]
        }
    ],
    'us_citizen': True
}

print(job_app['prog_languages'][0]['proficiency'])

8

In [121]:
print(len(job_app['experience'][1]['years_at_company']))

2

## Dictionaries vs. Lists (over time) Example of RUNTIME
### When inputting values in a Dictionary vs List

In [125]:
import time


# generate fake dictionary
d = {}

for i in range(10000000):
    d[i] = 'value'
    

# generate fake list
big_list = [x for x in range(10000000)]

In [126]:
# tracking time for set
start_time = time.time()

print(9999999 in d)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for dictionary: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for dictionary: 0.0005230903625488281
True
Elapsed time for list: 0.2421588897705078

In [136]:
time.time()

# for dictionaries:
constant time lookup   # because of the hashed value
# for lists:
linear lookup

1658431026.5709739

## Set <br>
<p>A Set is an unordered collection data type that is iterable (loop), mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [140]:
# set() or {}
my_set = set()
print(my_set, type(my_set))

not_a_set = {}
print(not_a_set, type(not_a_set))

full_set = {5, 56, 2, 3, 5, 7, 6, 3, 2, 4, 5, 3}
print(full_set, type(full_set))

set() <class 'set'>
{} <class 'dict'>
{2, 3, 4, 5, 6, 7, 56} <class 'set'>

In [149]:
string_set = {'abc', 'hello', 'goodbye'}
print(string_set)
print(type(string_set))

string_set2 = set(['abc', 'hello', 'goodbye'])  # needs to be 1 argument as an iterable inside ()
print(string_set2, type(string_set2))

{'abc', 'goodbye', 'hello'}
<class 'set'>
{'abc', 'goodbye', 'hello'} <class 'set'>

##### .add()

In [147]:
full_set.add(123)
print(full_set)

{2, 3, 4, 5, 6, 7, 56, 123}

In [148]:
x = {1, 4, 5}

x.add(56)

print(x)

{56, 1, 4, 5}

##### .remove()

In [150]:
full_set.remove(123)

print(full_set)

{2, 3, 4, 5, 6, 7, 56}

##### .union()

In [152]:
# Returns a union of two sets, can also use '|' or set.union(set)
# joins all numbers, gets rid of duplicates

s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

s3 = s1.union(s2)
print(s3)

# OR

s4 = s1 | s2
print(s4)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

##### .intersection()

In [154]:
# Returns an intersection of two sets, can also use '&'
# only takes similar elements from both sets

s5 = s1.intersection(s2)
print(s5)

# OR

s6 = s1 & s2
print(s6)

{3, 4}
{3, 4}

##### .difference()

In [157]:
# Returns a set containing all the elements of invoking set that are not in the second set, can also use '-'
# only takes values from the first set that are not in the second set
# order matters

s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

s7 = s1.difference(s2)
print(s7)

s8 = s2.difference(s1)
print(s8)

# OR

s9 = s1 - s2
print(s9)

s10 = s2 - s1
print(s10)

{1, 2}
{5, 6}
{1, 2}
{5, 6}

##### .clear()

In [158]:
# Empties the whole set
# set.clear()

s10.clear()
print(s10)

set()

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [160]:
# frozenset([])
my_frozenset = frozenset(s1)
print(my_frozenset)

my_frozenset.add(234)

frozenset({1, 2, 3, 4})

AttributeError: 'frozenset' object has no attribute 'add'

In [163]:
# cannot create a set of sets, but you can create a set of frozensets

set1 = {1, 2, 3}
set2 = {4, 5, 6}
set3 = {7, 8, 9}
set4 = {frozenset(set1), frozenset(set2), frozenset(set3)}
print(set4)

{frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})}

In [ ]:
# set comprehension works the same as list comprehension

In [164]:
import time
# generate fake set
big_set = {i for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [165]:
# tracking time for set
start_time = time.time()

print(9999999 in big_set)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for set: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for set: 0.0005331039428710938
True
Elapsed time for list: 0.30559825897216797

In [166]:
# convert list to set

some_list = [4, 5, 6, 7, 8]

try_set = set(some_list)
print(try_set)

{4, 5, 6, 7, 8}

# Exercises

### 1) Create a program that allows a user to continue to add people to an address book until the user quits. Once the user quits, break out of the loop and print out the name and address of everyone in the address book

###### Steps
1. Create a function that will ask user for name and addresses and stores them in a dictionary
2. Define an empty dictionary with which to work (global or local variable?)
3. Begin a loop that will continue to ask a user for information until the user "quits"
4. If the user does not quit, ask for a name and address and store the variables into variables
5. Add information to the dictionary with name as the key and address as the value
6. If the user does quit, end the loop
7. Print out the information from the dictionary in a formatted way
8. Execute/Call the function

In [194]:
from IPython.display import clear_output

address_book = {}

def make_address_book():
    initial_question = (input('Hello! Would you like to create an address book of all your friends? y/n ')).lower()
    if initial_question == 'y':
        follow_up = 'y'
        while follow_up == 'y':
            name_question = (input("What is your friend's name? ")).title()
            location_question = (input("Where does your friend live? ")).title()
            address_book[name_question] = location_question
            follow_up = (input('Would you like to add another friend? y/n ')).lower()
        else:
            print("**************************")
            print("Here is your address book!")
            for key, value in address_book.items():
                print(f"{key}'s address is {value}")
    else: 
        print('Okay, maybe later!')
    

    
make_address_book()

Hello! Would you like to create an address book of all your friends? y/n n
Okay, maybe later!

### 2) Best Time to Meet

Billy is trying to figure out if there is a time that he and his team can meet to work on the project. His three teammates each give him a list of times they are available ('HH:MM' 24-hour). Create a function that will take in an original list plus any number of lists of teammate's available times (*remember \*args*) and return a list of times where everyone can meet.

In [197]:
Billy = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
person2 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
person3 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
person4 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']
# Available Times: '12:00' and '14:30'

def find_same_times(billy_schedule, *schedules):
    set1 = set(billy_schedule)
    for s in schedules:
        set1 = set1.intersection(set(s))
    print(set1)
        

find_same_times(Billy, person2, person3, person4)

{'12:00', '14:30'}